---
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import SubTitle from "@/partials/SubTitle.astro";
import { getLang } from "@/utils/i18n";
import { getEntry } from "astro:content";
import { Image } from "astro:assets";

const about = await getEntry("about", "-index");
const lang = getLang(Astro.url.pathname);
const langContent = await getEntry("about", `${lang}`);
const { Content } = langContent
  ? await langContent.render()
  : await about.render();
const fallbackData = about.data;
const langData = langContent?.data;
const customData = langData ? langData : fallbackData;
---

<Base
  title={customData.title}
  meta_title={customData.meta_title}
  description={customData.description}
>
  <section class="section px-4 pt-0 pb-0 my-14 mx-auto">
    <div class="container">
      <div class="row justify-center mb-14">
        <div class="md:col-10">
          <div class="flex justify-center mb-4">
            <Image
              src={"/images/flowa05.png"}
              alt="flower logo image"
              width="120"
              height="120"
            />
          </div>

          <h3
            set:html={markdownify(customData.title)}
            class="text-2xl text-center mb-4"
          />
          <p
            set:html={markdownify(customData.description)}
            class="text-center mb-8"
          />
          <div class="content leading-loose" style="text-indent: 2em;">
            <Content />
          </div>
        </div>
      </div>
      <div class="mb-14"></div>
    </div>
  </section>
</Base>
